<%= form_for post do |f| %>
    <dl>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>
      <dt class="boolean"><%= f.label :review, 'Review?' %></dt>
      <dd><%= f.check_box :review %> <%= f.label :review, 'Is this post about a specific restaurant?' %></dd>
      <dt class="address"><%= f.label :address, 'Restaurant address' %></dt>
      <dd class="address"><%= f.text_field :address %></dd>
      <dt><%= f.label :flickr_url, 'Flickr photo URL' %></dt>
      <dd><%= f.text_field :flickr_url %></dd>
      <dt>
        <%= f.label :content, 'Main content' %>
        <p>This text will appear on the homepage and in post listings</p>
      </dt>
      <dd><%= f.text_area :content %></dd>
      <dt>
        <%= f.label :extended_content, 'Extended content' %>
        <p>This will only appear when you click "Read More" to view the whole post</p>
      </dt>
      <dd><%= f.text_area :extended_content %></dd>
    </dl>
    <p class="submit"><%= submit_tag post.new_record? ? 'Post' : 'Save' %></p>
<% end %>

  <%= content_for :bottom do %>
<script type="text/javascript">
function toggleAddressField() {
  if ($('post_review').checked) {
    $$('#new_post .address').invoke('slideDown', {duration: 0.2});
  } else if (!$('post_review').checked && $('post_review').visible) {
    $$('#new_post .address').invoke('slideUp', {duration: 0.2});
  }
}
document.observe('dom:loaded', function() {
    $('post_review').observe('change', toggleAddressField);
    toggleAddressField();
});
</script>
<% end %>
