<article class="post">
  <hgroup>
    <h1><%= link_to post.title, post %></h1>
    <h2><%= post.updated_at.to_s :post %></h2>
  </hgroup>
<% if post.photo_url.present? %>
  <section class="photo">
  <p><%= image_tag post.photo_url, :alt => "Photo of restaurant" %></p>
  </section>
<% end %>
  <section class="main content">
  <%=markdown post.content %>
  </section>
  
  <p class="jump"><%= link_to 'Continue reading →', post %></p>
  
  <section class="extended content">
  <%=markdown post.extended_content %>
  </section>
</article>
