<!DOCTYPE html>
<html>
<head>
  <title><%= title_for @title %></title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat|Istok+Web:400,400italic,700' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
<header>
  <h1><%= link_to_unless_current 'Capital Fare', root_path %></h1>
</header>
<section id="main">
<% unless @skip_sidebar %>
  <aside id="sidebar">
  <% if @authenticated %>
  <p class="admin"><%= link_to 'New post', new_post_path %> &middot; <%= link_to_unless_current 'List posts', list_posts_path %> &middot; <%= link_to 'Log out', new_user_session_path %></p>
  <% end %>
    <h2><span><strong>Exploring the restaurants of Downtown Madison, Wisconsin</strong> with occasional trips to the suburbs and beyond</span></h2>
    <%= form_for Search.new do |f| %>
      <%= f.text_field :query, :class => 'text' %>
      <%= submit_tag 'Search', :class => 'submit' %>
    <% end %>
    <p id="map"><%= link_to 'Restaurant map', map_posts_path %></p>
    <p id="authors">Your hosts, KB &amp; JR &middot; <%= mail_to 'fare@capitalfare.com', 'Contact' %></p>
  </aside>
<% end %>
<%= yield %>
</section>
<%= yield :scripts %>
<%= yield :bottom %>
</body>
</html>
